/* Colors
-------------------------- */
$color_primary: #409EFF;
$color_warning: #E6A23C;
$color_danger: #F56C6C;
$color_success: #67C23A;
$color_info: #909399;

//主题色
$theme1: #005ED9;
$theme2: #007AFF;
$theme3: #459EFF;
$theme4: #C6E2FF;
$theme5: #A2CFFF;
$theme6: #80BDFF;

//卡片及辅助
$S1: #000000;
$S2: #FFFFFF;
$S3: #2680F7;
$S4: #385068;

// 文字色
$T1: #000000;
$T2: #9B9B9B;
$T3: #C2CCD8;

// 界面色
$bg: #F9F8F8;

// 装饰色
$R1: #E52D5B;
$R2: #FF3366;
$R3: #FF5B84;
$R4: #FFEAEF;
$R5: #FFD6E0;

$Y1: #E5892D;
$Y2: #FF9933;
$Y3: #FFAD5B;
$Y4: #FFF4EA;
$Y5: #FFEBD6;

$G1: #08A446;
$G2: #0EBA52;
$G3: #23CF67;
$G4: #E3FCED;
$G5: #BBF2D1;

/* z-index
-------------------------- */
$index1: 1;
$index2: 10;
$index3: 100;
$index4: 1000;
$index5: 10000;

/* Box-shadow
-------------------------- */
$boxShadowHeader: 0 0 4px 0 rgba(0, 0, 0, 0.2);
$boxShadowCard: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
$boxShadowDark: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
$boxShadowContent: 0 2px 8px 0 rgba(0, 0, 0, .15);

/* Transition
 -------------------------- */
$fadeTransition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$fadeLinearTransition: opacity 200ms linear;
$mdFadeTransition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
$borderTransitionBase: border-color .2s cubic-bezier(.645, .045, .355, 1);
$colorTransitionBase: color .2s cubic-bezier(.645, .045, .355, 1);

/* Gradient
 -------------------------- */
$inputGradientBase: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(242, 244, 247, 1));
