@import "layout/header/header";
@import "layout/footer/footer";

.el-header {
  background-color: #fff;
}
.el-main {
  padding: 0 105px;
}
.el-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F5F7FA;
}
