@import "layout/header/header";

.el-header {
  background-color: #fff;
}
.el-main {
  padding: 0 105px;
}
.el-footer {
  position: fixed;
  min-height: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F9F8F8;
  padding: 0 105px;
}
